.reservas {
    width: 100% ;
    max-width: 1280px;
    margin: 60px auto;
    padding: 0 20px;
}

.bloques {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bloque {
    padding: 0px;
    width: 100%;
    max-width: 300px;
    max-height: 50px;
    text-align: center;
    font-family:  "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

.bloque-img {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    border-radius: 15px;
    max-width: 300px;
    max-height: 200px;
}
